body {
  font-family: 'Lato', sans-serif;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 500px;
  height: 500px;
}

.square {
  width: calc(100% / 8);
  height: calc(100% / 8);
  border: 2px solid black;
}