body {
  font-family: 'Lato', sans-serif;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 510px;
  height: 510px;
}

.square {
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 1px solid black;
}