* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Lato', sans-serif;
}


/* header */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
}



/* main */


.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #7DFFD4;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 510px;
  height: 510px;
  background-color: white;
}

.square {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 1px solid black;
}

.azure {
  background-color: #7DFFD4;
}




